
<!DOCTYPE html>

<html>
<head>
    
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    
    
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <style>
.cityLink {
    color: red;
}

.cityLink.active {
    color: green;
}

    </style>

</head>
<body>
    <div id="emptable">

    </div>
    <script src="~/Scripts/JavaScript.js"></script>
    <button onclick="ff()">cgd</button>
    <div id="name"></div>

    <script>
        function ff()
        {
            document.getElementById("name").innerHTML = localStorage.getItem("local");
           
        }
    </script>
   
   
</body>
</html>

