#location_jumbotron {
      position: relative;
      top: 100px;
    }

    #movies_heading {
    color:black;
      font-size: 30px;
      font-weight: 400;
    }

    #location-text {
      font-family: Arial, Helvetica, sans-serif;
    }

    .secondnavbar {
      background-color: black !important;

    }

    #now_showing {
      margin-left: 5px;
    }

