<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        .form-group {
            position: relative;
            margin-bottom: 1.5rem;
        }

        .form-control-placeholder {
            position: absolute;
            top: 0;
            padding: 7px 0 0 13px;
            transition: all 200ms;
            opacity: 0.5;
        }

        .col-md-6 {
    background: rgba(0,0,0,.4);
    height: 660px;
    box-shadow: -1px 1px 60px 10px black inset;
}

        .form-control:focus + .form-control-placeholder,
        .form-control:valid + .form-control-placeholder {
            font-size: 75%;
            transform: translate3d(0, -100%, 0);
            color:white;
            opacity: 1;
        }
    </style>
    <title>Hello, world!</title>
</head>
<body style="background-image: url('https://static.vecteezy.com/system/resources/previews/000/157/184/original/retro-movie-cinema-vector-background.jpg')">
    <div class="container my-5" style="">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h1 style="color:white">Registration</h1>
                <br />
                <div class="form-group">
                    <input type="text" id="user_name" class="form-control" required>
                    <label class="form-control-placeholder" for="user_name">Name</label>
                </div>
                <div class="form-group">
                    <input type="password" id="password" class="form-control" required>
                    <label class="form-control-placeholder" for="password">Password</label>
                </div>
                <div class="form-group">
                    <input type="text" id="email_id" class="form-control" required>
                    <label class="form-control-placeholder" for="email_id">Email Id</label>
                </div>
                <div class="form-group">
                    <input type="text" id="mobile_no" class="form-control" required>
                    <label class="form-control-placeholder" for="mobile_no">Mobile No</label>
                </div>
                <div class="form-group">
                    <input type="text" id="address" class="form-control" required>
                    <label class="form-control-placeholder" for="addrerss">Address</label>
                </div>
                <button class="btn-primary" id="submit">Submit</button>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" id="submit_modal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    
                </div>
                <div class="modal-body">
                    <p>Registered successfully</p>
                </div>
                <div class="modal-footer">
                    <button class="btn-primary"  window.location.href = "http://localhost:60564/Home/Index#">Okay</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script>
        document.getElementById('submit').onclick = function submit() {
            //  alert('submit');
            var name = document.getElementById('user_name').value;
            var mobile_no = document.getElementById('mobile_no').value;
            var email_id = document.getElementById('email_id').value;
            var address = document.getElementById('address').value;
            var password = document.getElementById('password').value;
            console.log(JSON.stringify({
                UserName: name,
                Password: password,
                MobileNo: mobile_no,
                EmailId: email_id,
                Address: address
            }));
            //console.log(name + mobile_no + email_id + address + password);

            fetch("http://localhost:60562/api/UserRegistration",
                {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        UserName: name,
                        Password: password,
                        MobileNo: mobile_no,
                        EmailId: email_id,
                        Address: address
                    })
                }
            ).then(res => res.json())
                .then(result => {
                    console.log(result);
                    //alert("Registered Successfully")
                    $('#submit_modal').modal('show');
                   
                })
        }
    </script>


</body>
</html>